body{
  background-image: linear-gradient(90deg,
    #700B97 0%,
    #00ADB5 70%,
    #00FFF5 100%);
  font-family:monospace;
  min-width: 600px;
  position: relative;
}

head{
  background-image: linear-gradient(90deg,
    #700B97 0%,
    #00ADB5 50%,
    #00FFF5 100%);
}

.myDescription{
  background-color: #1F2633;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.myDescription p{
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 10px;
}

.mainDiv{

}
/*#1F2633*/
.langs{
  position: sticky;
  background-color: #1F2633;
  border-radius: 20px;
  display: grid;
  grid-row: 2;
}

.langTitle{
  color: white;
  font-size: 40px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.logos{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;;
  margin-bottom: 30px;
  position: sticky;
  background-color: #1F2633;
  border-radius: 20px;
}

.left{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: -5%;
}

.right{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: -5%;
}


.dropdown{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdownContent{
  position: absolute;
  background-image: linear-gradient(135deg,
    #00FFF5 0%,
    #00ADB5 30%,
    #700B97 100%);
  width: auto;
  border-radius: 10px;
  padding: 3px;
  align-items: center;
  transform: scale(0);
  transition: transform 300ms;
}

.dropdownContent p{
  color: white;
  text-align: center;
  display: none;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.dropdown:hover .dropdownContent{
  atransition: transform 300ms;
  transform: scale(1);
}

.dropdown:hover .dropdownContent p{
  transition: 300ms;
  display: block;
}

.package{
  background-color: #1F2633;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.leftPackDiv{
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.packTitle{
  color: white;
  margin: 20px;
  width: 71%;
  font-size: 45px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  color: white;
  text-decoration: none;
}

.title:hover{
  color: lightblue;
}

.card{
  perspective: 150rem:none;
  position: relative;
  margin: 2rem;
  background: none;
  height: 90%;
  color: white;
  width: 65%;
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: -10px;
  padding-top: 10px;
}

.packDescription{
  color: white;
  width: 65%;
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side{
  color: white;
  padding: 2rem;
  border-radius: 20px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 0;
  left: 0;
}

.side.back{
  top: 0px;
  transform: rotateY(-180deg);
  color: #1F2633;
  height: 10%;
  width: 100%;
  margin-bottom: -40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 25px;
}

.side.front{
  top: 0;
}

.card:hover .side.front{
  transform: rotateY(180deg);
  color: #1F2633;
}

.card:hover .side.back{
  transform: rotateY(0deg);
  color: #c8c8c8;
}

.packInfo{

}

.packInfo p{
  /*color: #c8c8c8;*/
}

.terminal{
  background-color: grey;
  color: purple;
  width: wrap;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  display: inline;
  text-align: center;
  align-items: center;
}

.packageDescription{
  font-size: 35px;
  text-align: center;
}

.packTitle{
  color: white;
  margin: 20px;
  width: 71%;
  font-size: 45px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}

.packTitle:hover{
  position: sticky;
  transform: rotateZ(180deg);
  font-size: 55px;
  transform: rotateZ(360deg);
  font-size: 60px;
/*  transform: rotateX(180deg);
  transform: rotateY(180deg);*/
}

.langLogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
  background-color: #1F2633;
}

.logo{
  border-radius: 20px;
  align-items: center;
}

.logoInside{
  align-items: center;
  border-radius: 20px;
  background-color: #1F2633;
  padding: 5px 9px 5px 9px;
}

.logo:hover{
  transition: 300ms;
  transform: scale(1.1);
  background-image: linear-gradient(-135deg,
    #700B97 0%,
    #00ADB5 70%,
    #00FFF5 100%);
}

.logo:hover .logoInside{
  transform: scale(0.9);
}

#htmlLogo{
  font-size: 70px;
  color: white;
}

#cssLogo{
  font-size: 70px;
  color: white;
}

#python{
  font-size: 70px;
  color: white;
}

#java{
  color: white;
  font-size: 70px;
}

.contactsContainer{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 20px;
  background-color: #1F2633;
}

.sect{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.contact:hover .contact{
  color: lightblue;
}

@media (orientation: portrait){
  .leftPackDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-flow: column-reverse;
  }
  .langLogo{
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .packTitle{
    width: 100%;
  }

  #htmlLogo{
    margin-bottom: 0;
  }

  #cssLogo{
    margin-top: 0;
  }

  #python{
    margin-bottom: 0;
  }

  #java{
    margin-top: 0;
  }

  .title{
    text-decoration: underline;
  }

  .contactsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
