body{
  background-image: linear-gradient(90deg,
    #700B97 0%,
    #00ADB5 50%,
    #00FFF5 100%);
}

head{
  background-image: linear-gradient(90deg,
    #700B97 0%,
    #00ADB5 50%,
    #00FFF5 100%);
}

.myDescription{
  background-color: #1F2633;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.myDescription p{
  color: white;
  font-size: 35px;
  text-align: center;
  margin: 10px;
}

.mainDiv{

}
/*#1F2633*/
.langs{
  background-color: #1F2633;
  border-radius: 20px;
  display: grid;
  grid-row: 2;
}

.langTitle{
  color: white;
  font-size: 35px;
  text-align: center;
}

.logos{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.package{
  background-color: #1F2633;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.leftPackDiv{
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}



.packTitle{
  color: white;
  margin: 20px;
  width: 71%;
  font-size: 45px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  color: white;
  text-decoration: none;
}

.title:hover{
  color: lightblue;
}

.packDescription{
  color: white;
  width: 65%;
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.terminal{
  background-color: grey;
  color: purple;
  width: wrap;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  display: inline;
  text-align: center;
  align-items: center;
}

.packageDescription{
  color: white;
  font-size: 35px;
  text-align: center;
}

.langLogo{
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
}

#htmlLogo{
  font-size: 70px;
  color: white;
  margin-bottom: 5px;
}

#cssLogo{
  font-size: 70px;
  color: white;
  margin-top: 5px;
}

#python{
  font-size: 70px;
  color: white;
  margin-bottom: 5px;
}

#java{
  color: white;
  font-size: 70px;
  margin-top: 5px;
}

@media (orientation: portrait){
  .leftPackDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-flow: column-reverse;
  }
  .langLogo{
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .packTitle{
    width: 100%;
  }

  #htmlLogo{
    margin-bottom: 0;
  }

  #cssLogo{
    margin-top: 0;
  }

  #python{
    margin-bottom: 0;
  }

  #java{
    margin-top: 0;
  }
}
